<div class="container-fluid" ng-controller="LoginController">
  <modal title="Loginform" class="login" ng-show="!currentUser" visible="showModal" ng-submit="login(credentials)" novalidate>
      <form role="form" class="LoginForm">
	<div class="form-group">
	  <label for="Username">Username</label>
	  <input type="username" ng-model="credentials.username" class="form-control" id="email" placeholder="Enter email" />
	</div>
	<div class="form-group">
	  <label for="password">Password</label>
	  <input type="password" ng-model="credentials.password" class="form-control" id="password" placeholder="Password" />
	</div>
	<button type="submit" class="btn btn-default">Login</button>
      </form>
    </modal>
    <div ng-show="currentUser">
      <ul class="student-info">
	<li><label>Name: </label><input ng-model="studentName" type="text" name="name" disabled/></li>
	<li><label>Rin: </label><input ng-model="studentRin" type="text" name="name" disabled/></li>
	<li><label>Major: </label><input ng-model="studentMajor" type="text" name="name" disabled/></li>
	<li><label>Courses: </label></li>
	<li>
	  <ul class="student-courses" ng-model="studentCourses">
	    <li ng-repeat="course in studentCourses">{{course.name}}</li>
	  </ul>
	</li>
      </ul>
    </div>
</div>