<div class="container-fluid" ng-controller="LoginController">
  <modal title="Loginform" class="login" ng-show="!currentUser" visible="showModal" ng-submit="login(credentials)" novalidate>
      <form role="form" class="LoginForm">
	<div class="form-group">
	  <label for="Username">Username</label>
	  <input type="username" ng-model="credentials.username" class="form-control" id="email" placeholder="Enter email" />
	</div>
	<div class="form-group">
	  <label for="password">Password</label>
	  <input type="password" ng-model="credentials.password" class="form-control" id="password" placeholder="Password" />
	</div>
	<button type="submit" class="btn btn-default">Login</button>
      </form>
    </modal>
    <div ng-show="currentUser">
      <p><b>Name: 	{{studentName}}</b></p>
      <p><b>Rin: 	{{studentRin}}</b></p>
      <p><b>Major: {{studentMajor}}</b></p>
      <p><b>Credits Taken: {{ calculateCredits() }}</b></p>
      <p><b>GPA: {{ calculateGPA() }}</b></p>
      <div ng-repeat="course in required">
          <h4>Requirement: {{ course.name }}</h4>
          <div ng-if="requirementSatisified(course)">
              <p>Satified by {{ scores[course].crn }}</p>
              <p>Grade: {{ scores[course].letter_grade }}
          </div>
          <div ng-if="!requirementSatisified(course)">
              <p>Take one of: </p>
              <ul>
                  <li ng-repeat="c in course.options">{{ c }}</li>
              </ul>
          </div>
      </div>
      <a ng-href="#/schedule">Schedule</a>
    </div>
</div>
