<div class="container-fluid">
    <div class="calendar-container" ng-show="currentUser" >
      <form role="form" class="ControlsForm" ng-submit="addRemoveEventSource(eventSources,classes)">
	<div class="form-group">
	  <fieldset>
	  <label for="major">Select your major</label>
	  <select name="major" id="major" class="major" ng-model="major">
	    <option>Computer Science</option>
	  </select>
	  <input type="submit" id="run" value="Run"/>
	</fieldset>
      </form>
      <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" class="calendar"></div>
    </div>
  </div>
</div>